// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
// Using CDN for bootrap and font-awesome

// Your CSS partials
@import "components/index";
@import "pages/index";

.container {


}

h1 {
  font-size: 36px;
  color: #F5F2D0;
  margin-top: 10px;
}

.about-me {
  border-bottom: 2px solid gray;
  color: #F5F2D0;
}

.projects {
  border-bottom: 2px solid gray;
  color: #F5F2D0;
}

body {
  background-color: #030316;
}

.header-image {
width: 100%;
height: auto;
}

.footer {
  text-align: center;
  background-color: #060622;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 48px;
}

.footer a {
  color: #F5F2D0;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 15px;
}

.carosel-item {
display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 32px;
  color: #fc9c38;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 32px;
  color: #fc9c38;
}

.btn-site {
    border: solid 2px #4fe8fc;
    padding: 8px;
    border-radius: 16px;
    padding-left: 20px;
    padding-right: 20px;
    color: #4fe8fc;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-site:hover {
  border: solid 2px #fc9c38;
  padding: 8px;
  border-radius: 16px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fc9c38;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  color: #fc9c38;
}

.code {
  width: 150px;
  margin-bottom: 10px;
}


