<div>
  <img src="images/grantbanner.png" class="header-image">
</div>
<div class="container">
  <div class="about-me">
    <h1>About Grant Holley</h1>
    <p>Insert text about me</p>
  </div>

  <div class="projects">
    <h1>Projects</h1>
    <h2>Facilita</h2>
    <p>FaciLita text</p>
  </div>

    <div class="projects">
    <h2>Dev-Tavern</h2>
    <p>Dev-Tavern text</p>
  </div>

    <div class="projects">
    <h2>Edo Cocktails</h2>
    <p>EC text</p>
  </div>

  <div class="projects">
    <h2>Splashr</h2>
    <p>Splashr text</p>
  </div>

  <div class="projects">
    <h2>PawnPin</h2>
    <p>PawnPin text</p>
  </div>

</div>


